<div #divAppLogin>
    <div #divUserMenu class="btn-group" [hidden]="!session.isUserLogged()">
        <button #btnDropDown class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ this.loggedUser ? this.loggedUser.name : '' }}
        </button>
        <div #ddnItems class="dropdown-menu dropdown-menu-right">
            <button #btnLogOut class="dropdown-item" (click)="logOut()">Sair</button>
        </div>
    </div>
    <div #divLogin class="btn-group" [hidden]="session.isUserLogged()">
        <button #btnLogin class="btn btn-primary" (click)="logIn()">Login</button>
    </div>
</div>