<div class="ht-tm-codeblock">
  <div #divUsersSearch class="card card-adm">
    <div class="card-body ht-tm-superspecialcardcheat">
      <h6 class="card-title">Search by name/email</h6>
      <div class="ht-tm-codeblock ht-tm-btn-replaceable">
        <form class="form-inline ht-tm-element">
          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input #txtSearch type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
          </div>
          <button type="submit" class="btn btn-primary" (click)="search(txtSearch.value)" >Go</button>
        </form>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div #divUsersTable *ngIf="Users.length > 0">
    <table class="table table-hover table-striped ht-tm-element">
      <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of Users; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{user._id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td >
          <label [hidden]="user.role !== 0" value="None">None</label>
          <label [hidden]="user.role !== 1" value="Regular">Regular</label>
          <label [hidden]="user.role !== 2" value="Administrator">Administrator</label>
        </td>
        <td>
          <button (click)="edit(user._id)" class="ht-tm-element btn btn-primary"><span class="fa fa-edit"></span></button>
          <button (click)="delete(user._id)" class="ht-tm-element btn btn-primary"><span class="fa fa-trash"></span></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div #divNoUsers *ngIf="Users.length === 0">
    <div class="ht-tm-element card text-center">
      <div class="card-body">
        <h4 class="card-title">Oooops!</h4>
        <p class="card-text">Not a single user found.</p>
      </div>
    </div>
  </div>
</div>