<div class="ht-tm-codeblock">
  <table class="table table-hover table-striped ht-tm-element">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <a href="#!" class="ht-tm-element btn btn-primary"><span class="fa fa-download"></span></a>
        <a href="#!" class="ht-tm-element btn btn-primary"><span class="fa fa-download"></span></a>
        <a href="#!" class="ht-tm-element btn btn-primary"><span class="fa fa-download"></span></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>