<div class="card">
  <div class="card-body">
    <form autocomplete="off">
      <h6 class="card-title">Edit User</h6>
      <div class="ht-tm-element ht-tm-element-inner">
        <input class="form-control" type="text" [(value)]="User._id" id="text-input" disabled>
      </div>
      <div class="ht-tm-element ht-tm-element-inner">
        <input class="form-control" type="text" [(value)]="User.name" id="text-input">
      </div>
      <div class="ht-tm-element ht-tm-element-inner">
        <input class="form-control" type="email" [(value)]="User.email" id="email-input">
      </div>
      <div class="ht-tm-element ht-tm-element-inner">
        <select class="form-control" type="autocomplete" id="role-select">
          <option value="1" [selected]="isRoleRegular(User.role)">Regular</option>
          <option value="2" [selected]="isRoleAdm(User.role)">Adm</option>
        </select>
      </div>
    </form>
  </div>
</div>