<div class="ht-tm-codeblock">
  <ul #tabs class="nav nav-tabs ht-tm-element">
    <li class="nav-item">
      <a #usersTab class="nav-link" routerLink="/adm/users">Users</a>
    </li>
    <li class="nav-item">
      <a #postsTab class="nav-link" routerLink="/adm/posts">Posts</a>
    </li>
    <li class="nav-item">
      <a #commentsTab class="nav-link" routerLink="/adm/comments">Comments</a>
    </li>
  </ul>
</div>
<div #divContent>
  <div #divContentUsers *ngIf="Router.url == '/adm/users'">
    <app-adm-users></app-adm-users>
  </div>
  <div #divContentPosts *ngIf="Router.url == '/adm/posts'">
    <app-adm-posts></app-adm-posts>
  </div>
  <div #divContentComments *ngIf="Router.url == '/adm/comments'">
    <app-adm-comments></app-adm-comments>
  </div>
</div>